@import './theme-variables.scss';

.container {
  height: 100vh;
  padding: 0;
  margin-top: -4rem;
  justify-content: flex-start;
}

.title {
  color: theme-colors($light-theme, "secondary");
  font-size: 3.6rem;
  text-align: left; /* Align title to the left */
}

.button {
  margin-top: 3rem;
}

.aboutContainer {
  position: absolute;
  left: 125px;
  margin-top: 200px;
  width: 40rem;
  text-align: left; /* Align all text inside to the left */
  z-index: -100;
}

.aboutText {
  margin-top: 2rem;
  text-align: left; /* Align text paragraphs to the left */
  color: theme-colors($light-theme, "primary");
  font-size: 1.2rem;
}

.aboutImage {
  float: right;
  width: 650px;
  height: 600px;
  margin-right: 70px;
  margin-top: 150px;
  background-color: theme-colors($light-theme, "primary-container");
  border-radius: 4%;
}