@import './theme-variables.scss';

.container {
    height: 100vh;
    padding: 0;
    margin-top: -4rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }

.title {
  color:  theme-colors($light-theme, "secondary"); 
  font-size: 3.6rem;
}

.button{
  margin-top: 3rem;
}

.aboutContainer{
  // background-color: black;
  position: absolute;
  left: 125px;
  margin-top: 200px;
  width: 40rem;
  text-align: center;
  // text-decoration: underline;
  z-index: -100;
}

.aboutText{
  float: left;
  margin-top: 2rem;
  // background-color:aqua;
  text-align: center;
  color: theme-colors($light-theme, "primary");
  font-size: 1.2rem;

}
.aboutImage{
  float: right;
  width: 650px;
  height: 600px;
  margin-right: 70px;
  margin-top: 150px;
  background-color: theme-colors($light-theme, "primary-container");
  border-radius: 4%;
}
  