@import './theme-variables.scss'; 

.galleryContainer{
  // min-height: 100vh;
  // min-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
}

.galleryHeader{
  padding-bottom: 5rem;
  margin-top: -8rem;
  font-size: 4.5rem;
  color:  theme-colors($light-theme, "secondary"); 
}

.gallery {
  
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 60px;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;

  .galleryItem {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain; 
    }

  }
}

.underline {
  width: 45vw;
  height: 0.5rem;  position: absolute;
  background-color:  theme-colors($light-theme, "secondary"); 
  margin-top: -38rem; 
  margin-bottom: 4rem; 
  z-index: -100;
}
