html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cardo', serif; /* Apply Cardo font globally */
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, span, strong, em, u, i, blockquote, li, dt, dd, a {
  font-family: 'Cardo', serif; /* Ensures Cardo is used across all text elements */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
