@import './theme-variables.scss';

.container {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color:  theme-colors($light-theme, "primary-container");
  // background-color: white;
}

.infoSection{
  margin-bottom: 5rem;
}

.video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -10;
}

.pageFormatting{
  padding: 0;
  margin: 0;
}

.title a {
  color: #191922;
  text-decoration: none;
}

.backgroundImg{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -10;
}

.title {
  text-align: center;
  font-size: 4.7rem;
  color: white;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7); /* Add shadow for better readability */
  white-space: nowrap; /* Ensures the text stays on one line */
  font-family: 'Cardo', serif; /* Apply Cardo font to title */
}

.titleWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0; /* Remove padding */
  z-index: 1000;
}

.download{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 420px;
  color: #191922;
  font-family: 'Cardo', serif; /* Ensure Cardo font for download text */
}

/* In your CSS file */
.brownbutton {
  background-color: theme-colors($light-theme, "primary");
  border-color: theme-colors($light-theme, "primary");
}

.logo {
  height: 1em;
}

.menuItemsContainer{
  padding: 20px;
}

.footer{
  position: absolute;
  bottom: 0;
}

.imageBackground{
  background-color: beige;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
