@import './theme-variables.scss'; 

.container {
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  theme-colors($light-theme, "secondary-container");
  }