@import '_core/theme-variables';

.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
  font-family: 'Cardo', serif; 
}

.header {
  font-size: 4.5rem;
  margin-top: -1rem;
  margin-bottom: 4rem;
  color: theme-colors($light-theme, "secondary"); 
  font-family: 'Cardo', serif;
}

.headerContainer {
  justify-content: center;
}

.underline {
  width: 35vw;
  height: 0.5rem;
  position: absolute;
  background-color: theme-colors($light-theme, "secondary"); 
  margin-top: -3rem;
  margin-bottom: 4rem;
  left: 32.5vw; 
  z-index: -100;
}

.teamList {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.teamMember {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.role {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: theme-colors($light-theme, "secondary");
}

.contactInfo {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

.contactInfo li {
  margin-bottom: 0.5rem;
}

.contactInfo a {
  color: black;  /* Set link color to black */
  text-decoration: none;  /* Remove underline */
  font-weight: normal;  /* Make link text normal weight */
}

.contactInfo a:hover {
  color: #333;  /* Slightly darken the color on hover */
  text-decoration: underline;  /* Ensure no underline on hover */
}

.contactInfo a:focus {
  outline: 2px solid #333;  /* Optional: focus styling for accessibility */
}

.citationContainer {
  margin: 50px auto;
  text-align: center;
  max-width: 800px;
  line-height: 1.6;
  font-size: 1rem;
  color: #444;
}

.citationTitle {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.sectionHeading {
  font-weight: bold;
  margin: 20px 0 10px;
  font-size: 1.05rem;
}
