@import '/styles/theme-variables.scss';

.footerContainer {
    width: 99vw;
    position: absolute;
    right: 0px;
    margin-right: 0px;
    padding-right: 0px;
    height: 23.5rem;
    background-color: theme-colors($light-theme, "secondary-container");
    margin-top: 3rem;
    z-index: -10;
}

.columnFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.columnFooterText {
    flex: 1; 
    text-align: center; 
    margin-top: 3rem; 
    font-size: 1.2rem;
    padding: 0rem 0rem 0rem 0rem;
}

.leftColumn{
    text-align: left;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.rightColumn{
    text-align: right;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.companyIcon{
    width: 15rem;
    height: 15rem;
    background-color: theme-colors($light-theme, "primary-container");
    margin: auto;
    margin-top: -5rem;
    border-radius: 50%;
}

.socials {
    width: 30vw;
    height: 7vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: auto;
    margin-top: 3.5rem;
}

.icons {
    margin-top: 0.5rem;
}



