@import '../styles/theme-variables.scss';

.footerContainer {
    width: 100vw;
    position: absolute;
    right: 0px;
    margin-right: 0px;
    padding-right: 0px;
    height: 26rem;
    background-color: theme-colors($light-theme, "secondary-container");
    margin-top: 3rem;
    z-index: -10;
}

.columnFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.columnFooterText {
    flex: 1; 
    text-align: center; 
    margin-top: 3rem; 
    font-size: 1.2rem;
    padding: 0rem 0rem 0rem 0rem;
}

.leftColumn {
    text-align: left;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.rightColumn {
    text-align: right;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.companyIcon {
    width: 15rem;
    height: 15rem;
    background-color: theme-colors($light-theme, "primary-container");
    margin: auto;
    margin-top: -5rem;
    border-radius: 50%;
}

.socials {
    width: 30vw;
    height: auto; /* Adjusts to icon size */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 3.5rem;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; /* Spacing between icons */
    margin-top: 0.5rem;
}

.icons img {
    width: 50px; /* Uniform width for icons */
    height: 50px; /* Uniform height for icons */
    display: block; /* Ensures proper alignment */
}
