@import '../styles/theme-variables.scss';

.header {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 75px;
  position: fixed;
  background-color: transparent;
  transition: background-color 0.3s ease;
  font-family: 'Cardo', serif;  /* Apply Cardo font to the header */
}

.scrolled {
  background-color: theme-colors($light-theme, "primary-container-light");
}

.homeLogo {
  float: left;
  margin-top: 5px;
  color: theme-colors($light-theme, "primary");
  left: 0;
  text-decoration: none;
  list-style: none;
  font-size: 36px;
  font-family: 'Cardo', serif;  /* Apply Cardo font here */
}

.homeLogo:hover {
  text-decoration: underline;
}

.menuItems {
  float: right;
  padding-right: 3rem;
  list-style: none;
  display: flex;
  align-items: center;
  align-self: center;
  padding-top: 20px;
}

.navLink {
  color: theme-colors($light-theme, "primary");
  font-size: 24px;
  text-decoration: none;
  font-family: 'Cardo', serif;  /* Apply Cardo font here */
}

.navLink:hover {
  text-decoration: underline;
}
